/* Error: 8
 *    ,
 * 31 | @error(f.pow(2, 3));
 *    | ^^^^^^^^^^^^^^^^^^^
 *    '
 *   styles\style.scss 31:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: 8\a    \2577 \a 31 \2502  @error(f.pow(2, 3));\d\a    \2502  ^^^^^^^^^^^^^^^^^^^\a    \2575 \a   styles\\style.scss 31:1  root stylesheet";
}
