@import './base/clearDefault.scss';
@import './base/color.scss';
@import './base/typography.scss';
@import './components/modal.scss';
@import './components/post.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $bg-100;
    color: $text-100;
    font-family: $font;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



header h1 {
    text-align: center;
    padding: 1rem;
    color: white;
}

header h5{
    text-align: center;
    color: white;
}

header{
    background-color: $primary-300;
    color: $text-100;
}

.wrapper{
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.ad{
    display: block;
    text-decoration: none;
    color: $text-100;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid $accent-200;
    background-color: $primary-100;
    text-align: center;
    padding: 1rem;
    border-radius: 0.5rem;
    height: fit-content;
}

footer{
    background-color: $primary-100;
    color: $text-200;
    text-align: center;
    padding: 1rem;
}

.open{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
}

.open:hover{
    opacity: 0.8;
}

form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    border:1px solid $accent-200;
    padding: 1rem;
    border-radius: 0.5rem;
    color: black;
}





#image{
    display: none;
}

.upload{
    background-color: $accent-100;
    padding: 0.3rem;
    border: 1px solid $primary-100;
    width: 100%;
}

.ad img{
    margin: 0 auto;
    width: 200px;
}


